#serif p:first-child {
    font-family: 'Times New Roman', Times, serif;
}
#serif p:nth-child(2) {
    font-family: Georgia;
}
#serif p:last-child {
    font-family: Garamond;
}
#sans-serif p:first-child {
    font-family: Arial;
}
#sans-serif p:nth-child(2) {
    font-family: Verdana;
}
#sans-serif p:last-child {
    font-family: Helvetica;
}
#monospace p:first-child {
    font-family: 'Courier New', Courier, monospace;
}
#monospace p:nth-child(2) {
    font-family: 'Lucida Console';
}
#monospace p:last-child {
    font-family: Monaco;
}
#cursive p:first-child {
    font-family: 'Brush Script MT';
}
#cursive p:last-child {
    font-family: 'Lucida Handwriting';
}
#fantasy p:first-child {
    font-family: Copperplate;
}
#fantasy p:last-child {
    font-family: Papyrus;
}