@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}
body {
    background-color: lightgray;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 20px;
    font-size: 0.75rem;
    font-family: poppins, helvetica;
    font-weight: 500;
}

header div a {
    text-decoration: none;
    color: black;
    padding-right: 20px;
}

header div {
    display: flex;
    align-items: center;
}

header div a:last-child {
    display: flex;
    align-items: center;
}
header div a:last-child span {
    padding-right: 6px;
}

/* animación + */
header .contact-container * {
    cursor: pointer;
}
header .contact-container span {
    transition: all 0.7s;
    display: inline-block;
    font-size: 0.85rem;
    font-weight: 600;
}
header .contact-container span:hover {
    transform: rotateZ(90deg);
}

/* cambio de tamaño del logo GUCCI */
header div.logo-container {
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
}
header div.logo-container.logo-big {
    position: absolute;
    /* sacamos el logo de la barra de navegación superior */
    width: 100%;
    font-size: 20rem;
    opacity: 0.6;
    letter-spacing: 4rem;
    transition: all .5s;
}  
header div.logo-container.logo-big a {
    color: white;
    margin: 0 auto;
    /* centrar la a, text-align no funciona porque no es ni p, h */
    padding: 0;
    text-align: center;
    transition: all .5s;
}